[build]
  command = "cd frontend && npm install && npm run build"
  publish = "frontend/dist"
  functions = "backend"

[functions]
  node_bundle = true

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/index/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
