[build]
  command = "npm run build-all"
  publish = "frontend/dist"
  functions = "backend"

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["pg-native"]

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/index/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
